
/*--------general--------*/
:root {
  --col-main-light-blue: #2d84b7;
  --col-main-darker-blue: #1f73a3;
  --col-main-dark-blue: #102937;
  --col-main-darkest-blue: #206996;
  --col-main-navy: #11131a;
  --col-main-navy-dark: #0e1016;
  --col-white: #eeecec;
  --col-light-grey: #9e9fa0;
  --bg-dark-mode-main: #1a1d28;
  --bg-dark-mode-lighter: #1e212e;
  --bg-dark-mode-lightest: #272b3b;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}
/*--------end of general--------*/
/*--------shape factory--------*/
body {
background-color: var(--bg-dark-mode-main);
animation: fadeIn 0.5s ease-in-out forwards;;
}

.shape-grid {
padding: 10px;
margin-top: 10px;
border-radius: 10px;
display: grid;
grid-template-columns: repeat(6, 100px);
grid-template-rows: repeat(6, 100px);
gap: 10px;
background-color: var(--bg-dark-mode-lightest);
overflow: hidden;
grid-auto-flow: row-reverse; /* Stack from bottom to top */
justify-content: end; /* Align items to the end of the container */
}

.circle,
.square {
width: 100px;
height: 100px;
cursor: pointer;
}

.circle {
background-color: #fff;
border-radius: 50%;
}

.square {
background-color: #fff;
border-radius: 5px;
}

.foot {
margin-top: 10px;
width: 100%;
height: 30px;
display: flex;
justify-content: center;
}

.alert-message {
text-align: center;
font-size: 15px;
color: var(--col-white);
}

.shape-container {
position: relative;
}

select {
text-align: center;
padding: 8px 20px 8px 20px;
margin-left: 10px;
border-radius: 10px;
}

label {
margin-left: 10px;
color: var(--col-white);
}

button {
margin-left: 10px;
padding: 9px 20px 9px 20px;
border-radius: 10px;
background-color: var(--col-main-light-blue);
color: var(--col-white);
transition: 0.3s ease-in-out;
}

button:hover {
background-color: var(--col-main-darker-blue);
transition: 0.3s ease-in-out;
}
/*--------end of shape factory--------*/